<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
            <link rel="stylesheet" href="{{ asset('css/daterangepicker.css') }}">
            {% stylesheets '@bootstrap_css' %}
                <link href="{{ asset_url }}" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="main">
            <header class="navbar navbar-fixed-top navbar-inverse">
                <a class="navbar-brand" href="{{ url('homepage') }}" >Test</a>

                <ul class="nav navbar-nav pull-right">
                    {{ knp_menu_render('AppBundle:Builder:navBar', {'currentClass': 'active'}) }}
                </ul>

            </header>

            <section class="container">
                <div class="row">
                    <div class="col-lg-3">
                        {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
                    </div>
                    <div class="col-lg-9">
                        <div class="notices">
                            {% for flash_message in app.session.flashBag.get('warning') %}
                                <div class="alert alert-warning">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}

                            {% for flash_message in app.session.flashBag.get('notice') %}
                                <div class="alert alert-success">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}

                            {% for flash_message in app.session.flashBag.get('error') %}
                                <div class="alert alert-danger">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                        </div>

                        {% block body %}{% endblock %}
                    </div>
                </div>
            </section>

            <footer></footer>
        </div>

        {% block javascripts %}
            {% javascripts '@jquery_js' '@bootstrap_js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script src="{{ asset('js/moment.min.js') }}"></script>
            <script src="{{ asset('js/daterangepicker.js') }}"></script>
            <script src="{{ asset('js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
