{% extends 'base.html.twig' %}

{% block body %}
    <h1>Results</h1>

    {{ form_start(filter) }}
        {{ form_errors(filter) }}
    {{ form_end(filter) }}


    {% if posts is not empty %}
        <div class="main-content">
            <div id="chartContainer"></div>

            <div id="table-posts">
                {% include 'default/posts/table.html.twig' %}
            </div>
        <div>
    {% endif %}

{% endblock %}

{% if posts is not empty %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/fusioncharts.js') }}"></script>
        <script src="{{ asset('js/fusioncharts.charts.js') }}"></script>
        <script>
            FusionCharts.ready(function () {
                function createChart(data) {
                    var subcaption = $('#form_daterange').val();
                    if ( !data ) {
                        data = [
                            {% for data in fusionData %}
                                {
                                    "label": "{{ data.label }}",
                                    "value": "{{ data.value }}"
                                },
                            {% endfor %}
                        ];
                    }

                    var postsChart = new FusionCharts({
                        type: 'area2d',
                        renderAt: 'chartContainer',
                        width: '400',
                        height: '300',
                        dataFormat: 'json',
                        id: 'posts-chart',
                        dataSource: {
                            "chart": {
                                "caption": "Post for the period",
                                "subCaption": subcaption,
                                "xAxisName": "Date",
                                "yAxisName": "Posts count",
                                "paletteColors": "#0075c2",
                                "bgColor": "#ffffff",
                                "showBorder": "0",
                                "showCanvasBorder": "0",
                                "plotBorderAlpha": "10",
                                "usePlotGradientColor": "0",
                                "plotFillAlpha": "50",
                                "showXAxisLine": "1",
                                "axisLineAlpha": "25",
                                "divLineAlpha": "10",
                                "showValues": "1",
                                "showAlternateHGridColor": "0",
                                "captionFontSize": "14",
                                "subcaptionFontSize": "14",
                                "subcaptionFontBold": "0",
                                "toolTipColor": "#ffffff",
                                "toolTipBorderThickness": "0",
                                "toolTipBgColor": "#000000",
                                "toolTipBgAlpha": "80",
                                "toolTipBorderRadius": "2",
                                "toolTipPadding": "5"
                            },
                            "data" : data
                        }
                    }).render();
                }

                createChart(null);

                $(document).on('submit', '#post-filter', function(e) {
                    e.preventDefault();
                    var postsChart = FusionCharts('posts-chart');

                    if ( postsChart ) {
                        postsChart.dispose();
                    }

                    var data = {
                        daterange: $('#form_daterange').val()
                    }

                    $.post('{{ url('filter_posts') }}', data, function(response) {
                        if (response.success) {
                            $('#table-posts').html(response.posts);
                            createChart(response.fusionData);
                        }

                        if (response.error) {
                            $('#table-posts').empty();
                            $('.notices').html('<div class="alert alert-warning">' + response.message + '</div>');
                        }
                    });
                });
            });
        </script>
    {% endblock javascripts %}
{% endif %}