.main {
    padding-top: 70px;
}

.main-menu li a {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.main-menu li {
    padding: 0 15px;
}

.main-menu li.active a {
    text-decoration: none;
    color: #fff;
}

.main-menu li a:hover,
.main-menu li a:focus,
.main-menu li a:active
{
    text-decoration: none;
}

.main-menu li:hover {
    background: #f2f2f2;
}