<h2>Posts</h2>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Url</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>

    {% for post in posts %}
        <tr>
            <td>{{ post.date|date('Y-m-d') }}</td>
            <td>{{ post.title|escape }}</td>
            <td><a href="{{ post.url|escape }}" target="_blank">{{ post.url|escape }}</a></td>
            <td><img src="{{ post.image|escape }}" width="200px"></td>
        </tr>
    {% endfor %}

    </tbody>
</table>