{% extends 'base.html.twig' %}

{% block body %}

    <h1>Login</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="_email" class="form-control" value="" />
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>

                <button type="submit" class="btn btn-success">login</button>
            </div>
        </div>

    </form>

{% endblock %}