{% extends 'base.html.twig' %}

{% block body %}

    <h1>Registration</h1>

    {{ form_start(form) }}
        <div class ="row">
            <div class="col-lg-6">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}